@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300&display=swap');

:root {
    --header: /*#2E3545*/ #1B1A26; 
    --left: /*#404A5F*/ #232136;
    --right: /*#48536B*/ #2B2A40;
    --menu: #14131e;

    --green: #008000;
    --green-hover: #04af04;
    --yellow: #ffa500;
    --red: #dc143c;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
p, a, button, td, th {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}
span {
    transition: 0.4s;
}
span:hover {
    color: rgba(255, 255, 255, 0.15);
    cursor: pointer;
}
header {
    display: flex;
    padding: 10px 3% 10px 1%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
    height: 12%;
    width: 100%;
}
table {
    background-color: white;
    align-self: center;
    margin: 15px auto;
    
    text-align: center;
    justify-content: center;
    border-spacing: 0;
    border-radius: 10px;
    width: 80%;
}
.siembras_table {
    width: 900px;
    margin: 15px 15px;
}
td {
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0;
    padding: 0;
}
th {
    background: var(--left);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0;
    padding: 0;
    /* margin: 10px 10px; */
}

.content {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 88%;
}
.title {
    font-size: 50px;
}
.btn_index {
    background: var(--green);
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: 2px 15px;
    font-size: 25px;
}
.btn_index:hover {
    cursor: pointer;
    background: var(--green-hover);
}
.header_title{
    font-size: 40px;
}

.menu_btn {
    font-size: 45px;
}
.menu {
    position: fixed;
    top: 0;
    left: -50%;
    width: 40%;
    height: 100%;
    z-index: 100;
    background: var(--menu);
    padding: 15px;
    transition: 0.5s;
}
.menu.is-active {
    left: 0;
}

.nav_links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10% 0 30%;
}
.nav_links a {
    margin: 15px 0;
    padding: 7px 0;
    width: 50%;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.75s;
}
.nav_links a:hover {
    background: var(--right);
}
.nav_icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.left {  
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background: var(--left);
}

/* Menu crud parte inferior izq */
.left_menu {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    
    width: 100%;
    height: 10%;
}
.btn_crud_menu{
    height: 100%;  
    background: var(--header);
    border: 0;
    transition: 0.75s;
    font-size: 20px;
    box-shadow: 0;
}
.create:hover {
    background: var(--green);
    cursor: pointer;
}
.update:hover {
    background: var(--yellow);
    cursor: pointer;
}
.delete:hover {
    background: var(--red);
    cursor: pointer;
}
.create.active {
    background: var(--green);
}
.update.active {
    background: var(--yellow);
}
.delete.active {
    background: var(--red);
}

.left_crud {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding: 15px 5%;
}

.crud_title {
    font-size: 25px;
}


.right {
    height: 100%;
    width: 60%;
    background: var(--right);
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    /* overflow-x: scroll; */
    /* width: */
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--menu);
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background:var(--left);
    width: 1px;
    height: 1px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--header);
}